.mp-about-avatar {
	margin: 1rem;
	font-size: .625rem;
}

.mp-about-avatar-img {
	margin-bottom: .85rem;
}

.mp-about-avatar-name {
	font-family: $mp-font-family-secondary;
	font-size: 1rem;
	line-height: 1.2;
	letter-spacing: .2rem;
}