.mp-comments {
	padding: 45px 0 25px;
}

.mp-comment {
	padding-top: .75rem;
}

.mp-comment-avatar {
	margin-right: 1rem;
	border-radius: 50%;
	@include mp-size(48px, 48px);
}

.mp-comment-meta {
	margin: .25rem 0;
}

.mp-comment-username {
	font-family: $mp-font-family-secondary;
	font-weight: 700;
	letter-spacing: .075rem;
}

.mp-comment-content img {
	width: 25px;
	height: 25px;
}

.mp-comment-date {
	font-family: $mp-font-family-secondary;
	font-size: .75rem;
	letter-spacing: .01rem;
}

.mp-comment-text {
	margin-right: 4rem;
	font-size: .875rem;
	line-height: 1.8;
}