// górny wiersz stopki
.mp-footer-top {
	background: url("../images/bg/footer-bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	padding: 80px 0 20px;
	position: relative;
	&:after {
		@include mp-bg-overlay($mp-black, .75);
	}
}

.mp-footer-top-content {
	@include mp-relative-zindex;
}

.mp-footer-text {
	color: $mp-grey-600;
	font-size: .75rem;
}

.mp-footer-p {
	line-height: 2;
}

// kolumna kontakt
.mp-footer-contact-list {
	margin-bottom: .75rem;
}
.mp-footer-contact-item {
	padding: .2rem 0;
}

.mp-social-box {
	@include mp-size(26px, 26px);
}

// kolumna newsletter:
.mp-newsletter-form-group {
	margin-bottom: .75rem;
}

.mp-newsletter-form-control {
	font-size: .75rem;
	height: 1.55rem;
}

.mp-newsletter-btn {
	font-size: .625rem;
	padding: .25rem 1rem;
}

// sekcja copyright:
.mp-copy {
	font-size: .625rem;
	padding: 1rem 0;
	
}

.mp-copy-second {
	font-size: .5625rem;
	margin-top: .25rem;
	
}
