.mp-hero {
	background: url("../images/bg/top-bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	margin-bottom: 0;
	position: relative;
	&:after {
		@include mp-bg-overlay($mp-black, .4);
	}
}

.mp-hero-content {
	@include mp-relative-zindex;
}

.mp-hero-header {
	letter-spacing: .55rem;
	margin-bottom: .85rem;
	text-shadow: 0 2px rgba($mp-accent-color, 1);
	@include media-breakpoint-up(md) {
		font-size: 3.06rem;
	}
}

.mp-hero-subheader {
	filter: drop-shadow(0 2px rgba($mp-accent-color, 1));
	margin-bottom: 1rem;
}
