.mp-portfolio-box {
	position: relative;
}

.mp-portfolio-box-text {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 65%;
	z-index: 1000;
}

.mp-portfolio-box-title {
	font-size: 1.55rem;
	letter-spacing: .2rem;
	margin-bottom: 1.2rem;
}

.mp-portfolio-box-img {
	max-width: 540px;
}

.mp-portfolio-box.featured {
	max-width: 540px;
}

.mp-portfolio-img-overlay {
	&:after {
		@include mp-bg-overlay($mp-accent-color, .8);
	}
}

// style dla portfolio-item
.mp-portfolio-item {
	position: relative;
	margin-bottom: 1.875rem;
	.mp-hr {
		margin: 1rem 0;
	}
}

.mp-portfolio-item-info {
	@include mp-font-light-secondary;
}

.mp-portfolio-box-header {
	font-size: 1.125rem;
	letter-spacing: .2rem;
}
