@mixin mp-services-item-active {
	background-color: $mp-grey-900;
	a {
		color: $mp-white;
		text-decoration: none;
	}
	img {
		filter: brightness(3);
	}
}

.mp-services-group {
	background: url("../images/bg/witamy-tlo.jpg") 50% 50% no-repeat;
	height: 100px;	
	@include media-breakpoint-up(lg) {
		margin-right: -30px;
	}
}

.mp-services-item {
	padding: 1rem 1.3rem 0;
	pointer-events: none;
	text-align: center;
	@include mp-size(25%, 100%);
	&:hover {
		@include mp-services-item-active;
		@include mp-basic-transition;
	}
	a {
		pointer-events: auto;
	}
	img {
		background-color: $mp-accent-color;
	}
}

.mp-services-item-title {
	font-size: .6875rem;
	margin-top: .25rem;
	@include mp-font-light-secondary;
}

.mp-services-item-active {
	@include mp-services-item-active;
}


