// sekcja powitalna
.mp-front-page-welcome {
	padding: 60px 0 70px;
}

// sekcja portfolio
.mp-front-page-portfolio {
	padding: 70px 0 75px;
}

.mp-front-page-portfolio-last {
	margin-top: 29px;
}

// sekcja usługi
.mp-front-page-services {
	padding: 65px 0 30px;
}

// sekcja aktualności 
.mp-front-page-blog {
	padding: 65px 0 0;
	.mp-post-box {
		margin-bottom: 75px;
	}
}


