.mp-product-page {
	padding: 80px 0 20px;
}

.mp-product-page-data {
	@include mp-font-light-secondary;
	letter-spacing: .1rem;
}

.mp-product-page-img {
	margin-bottom: 2rem;
	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
	}
}

.mp-product-page-price-box {
	width: 100%;
	margin: 1rem 0 1.5rem;
	@include media-breakpoint-up(md) {
		width: 40%;
	}
}

.mp-product-page-short-desc {
	margin: 1.25rem 0 2.5rem;
}

.mp-product-page-quantity {
	margin-bottom: 1rem;
	font-size: .875rem;
}

.mp-product-page-quantity-input {
	margin-left: 1rem;
	color: $grey-800;
	border: 1px solid $grey-900;
	@include mp-size(2.9rem, 1.2rem);
}

.mp-product-page-quantity-label {
	font-weight: 300;
	letter-spacing: .15rem;
}

.mp-product-page-add-to-cart {
	font-size: .875rem;
	font-weight: 300;
	letter-spacing: .15rem;
}

.mp-product-page-hr {
	margin: 3.25rem 0;
}

.mp-product-page-desc {
	margin-bottom: 60px;
}

.mp-product-page-desc-text {
	padding: 2.5rem 4rem 1.5rem;
	border: 1px solid darken($grey-200, 8%);
	@include mp-font-light-secondary;
}

.mp-product-page-related-header {
	margin-bottom: 2rem;
}