// nakładka w tle:
@mixin mp-bg-overlay($color, $opacity) {
	background: none repeat $color;
	bottom: 0;
	content: "";
	left: 0;
	opacity: $opacity;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}


// pozycja relativ i zwiększonyz-index:
@mixin mp-relative-zindex() {
	position: relative;
	z-index: 1000;
}

// rozmiar:
@mixin mp-size($w, $h) {
	height: $h;
	width: $w;
}

// font pomocniczy:
@mixin mp-font-light-secondary {
	font-family: $mp-font-family-secondary;
	font-weight: 300;
}

// przejście:
@mixin mp-basic-transition {
	transition: all .25s ease-in-out;
}


